.formuario-de-contato {
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 20px;
}
label {
  padding-right: 5px;
}

.span {
  color: black;
}
.spanRed {
  color: red;
}

.Button {
  border-radius: 10px;
  width: 100px;
  height: 25px;
  color: white;
  background-color: black;
  border: none;
}
